<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" metadata-complete="true">

	<display-name>Social Alert Data</display-name>

	<!-- People who want to hardcode their "Solr Home" directly into the WAR 
		File can set the JNDI property here... -->
	<!-- <env-entry> <env-entry-name>solr/home</env-entry-name> <env-entry-type>java.lang.String</env-entry-type> 
		<env-entry-value>data</env-entry-value> </env-entry> -->

	<servlet>
	  <servlet-name>LoadAdminUI</servlet-name> 
	  <servlet-class>org.apache.solr.servlet.LoadAdminUiServlet</servlet-class> 
	</servlet>
	

	<!-- Any path (name) registered in solrconfig.xml will be sent to that filter -->
	<filter>
		<filter-name>SolrRequestFilter</filter-name>
		<filter-class>org.apache.solr.servlet.SolrDispatchFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SolrRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>SolrRestApi</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<param-name>org.restlet.application</param-name>
			<param-value>org.apache.solr.rest.SolrRestApi</param-value>
		</init-param>
	</servlet>

	<!-- Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>SolrRestApi</servlet-name>
		<url-pattern>/schema/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	  <servlet-name>LoadAdminUI</servlet-name> 
	  <url-pattern>/admin.html</url-pattern> 
  	</servlet-mapping>
	
	<welcome-file-list>
  		<welcome-file>admin.html</welcome-file> 
  	</welcome-file-list>
</web-app>
